html {
  background: #000;
  color: #fff;
}

header {
  background: rgb(49, 149, 189);
}

body {
  margin: 0 auto;
  font-family: 'Varela', sans-serif;
  line-height: 1.45;
}

section {
  background: #468;
}

footer {
  background: #222;
}

p {
  margin: 10px;
}

.success {
  margin: 0 10px;
  color: lime;
}

.error {
  margin: 0 10px;
  color: red;
}

.btn {
  background: #357;
  color: #fff;
  margin: 2px 3px;
  padding: 5px;
  text-decoration: none;
  border: 4px solid #8cf;
  box-shadow: 2px 2px 2px #000;
  border-bottom-color: #269;
  border-right-color: #269;
  text-align: center;
  font-size: 1.0em;
}

.btn:hover {
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
  transform: translate(2px, 2px);
}

.text-box {
  width: 150px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.flex-container .btn {
  padding: 0 10px;
}

.flex-features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 4px 0;
}

.flex-features div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5%;
  padding: 0 10px;
  box-shadow: 2px 2px 4px #000;
  border-radius: 10px;
}

.flex-notes {
  display: flex;
  background: rgb(1, 146, 165);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.notes div {
  text-align: center;
  background:rgb(1, 146, 165);
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
}