html {
  background: #000;
  color: rgb(255, 255, 255);
}

header {
  text-align: center;
  background: rgb(0, 80, 155);
}

h1 {
  margin: 0 auto;
  padding: 15px;
}

h3 {
  margin: 15 auto;
}

p {
  margin: 0 auto;
  padding: 5px 0;
}

body {
  margin: 0 auto;
  font-family: 'Varela', sans-serif;
  line-height: 1.45;
}

section {
  background: rgb(2, 121, 190);
  text-align: center;
}

form {
  margin: 10px 0;
}

footer {
  background: #222;
}

a, .a{
  text-decoration: none;
  color: inherit;
}

a:hover, .a:hover {
  color: #8cf;
  cursor: pointer;
}

.success {
  color: lime;
  margin: 0 10px;
}

.error {
  background-color: #000;
  border-radius: 10px;
  color: rgb(255, 37, 37);
  margin: 10px;
  padding: 10px;
}

.text-box {
  width: 300px;
  height: 30px;
  font-size: 1.2em;
}

.a-btn {
  background: aqua;
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  color:rgb(0, 0, 0);
  font-size: 1.0em;
}

.a-btn:hover {
  background: rgb(0, 190, 190);
  color:rgb(0, 0, 0);
  cursor: pointer;
}

.nav-btn {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin: 2px;
  padding: 5px;
  text-decoration: none;
  box-shadow: 2px 2px 2px #000;
  text-align: center;
  font-size: 1.0em;
}

.nav-btn:hover {
  background: rgb(150, 150, 150);
  color: rgb(0, 0, 0);
  box-shadow: none;
  transform: translate(0px, 3px);
}

.sort-btn {
  background: aqua;
  padding: 10px 10px;
  border: none;
  color:rgb(0, 0, 0);
  font-size: 1.0em;
}

.sort-btn:hover {
  cursor: pointer;
  background: rgb(0, 190, 190);
  color:rgb(0, 0, 0);
}

.sort-btn-on {
  background: rgb(72, 255, 0);
  padding: 10px 10px;
  border: none;
  color:rgb(0, 0, 0);
  font-size: 1.0em;
}

.settings-btn {
  background: aqua;
  padding: 10px 10px;
  margin: 0 2px;
  border: none;
  border-radius: 10px;
  color:rgb(0, 0, 0);
  font-size: 1.0em;
}

.settings-btn:hover {
  cursor: pointer;
  background: rgb(0, 165, 165);
  color:rgb(0, 0, 0);
}

.flex-settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#settings {
  padding: 10px;
  margin: 0;
}

#settings p {
  text-align: center;
}

#settings div {
  display: flex;
  flex-direction: row;
}

#settings div .a-btn {
  width: 100%;
  margin: 0 10px;
  font-size: 1.3em;
}

#more {
  background-color: rgb(9, 113, 192);
  width: 30%;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #000;
  margin: 10px;
}

#more:hover {
  box-shadow: #000 4px 4px 4px;
  transform: translate(-2px, -2px);
}

#more button {
  cursor: pointer;
  background-color: rgb(9, 113, 192);
  color:rgb(255, 255, 255);
  font-size: 1.2em;
  width: 100%;
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
}

.flex-nav {
  background: rgb(0, 80, 155);
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  padding: 0 0 2px 0;
  z-index: 1;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.flex-features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  background: rgb(0, 150, 219);
}

.flex-features div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 3%;
  padding: 10px;
  box-shadow: 2px 2px 4px #000;
  border-radius: 10px;
  background-color: rgb(2, 121, 190);
}

.flex-notes {
  display: flex;
  background: rgb(0, 80, 155);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.notes div {
  background-color: rgb(9, 113, 192);
  border-radius: 8px;
  box-shadow: 2px 2px 4px #000;
  margin: 10px;
}

.notes div:hover {
  box-shadow: #000 4px 4px 4px;
  transform: translate(-2px, -2px);
}

.notes div div {
  box-shadow: none;
  transform: none;
  margin: 0;
  padding: 0 10px;
}

.notes div div:hover {
  cursor: pointer;
  box-shadow: none;
  transform: none;
}

.notes div div:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0;
  color: black;
  padding: 0;
}

.notes div div:last-of-type * {
  width: 100%;
}

.notes div div:last-of-type .view {
  font-size: 1.3em;
}

.notes div div:last-of-type .view:hover {
  background-color: rgb(9, 113, 192);
  color: #fff;
}

.notes div div:last-of-type div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

.notes div div:last-of-type div *:hover, #Liked, #Disliked {
  cursor: pointer;
  background-color: rgb(9, 113, 192);
  color: #fff;
}

#Liked:hover, #Disliked:hover {
  background-color: #fff;
  color: #000;
}

#delete-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#delete-form div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#delete-form .a-btn {
  width: 100%;
  margin: 0 10px;
  font-size: 1.3em;
}

.flex-preview-notes {
  display: flex;
  flex-direction: row;
}

.flex-preview-notes div {
  background: inherit;
}

.flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-footer div * {
  margin: 10px;
}

@media only screen and (max-width: 1000px) {
  .flex-features {
    flex-direction: column;
    align-items: center;
  }

  .flex-features div {
    width: 90%;
  }
}