html {
  background: #000;
  color: #fff;
}

header {
  background: #468;
}

body {
  margin: 0 auto;
  font-family: 'Varela', sans-serif;
  line-height: 1.45;
}

section {
  background: #547;
}

.filler {
  height: 700px;
}

footer {
  background: #222;
}

.success {
  color: lime;
}

.error {
  color: red;
}

.btn {
  background: #357;
  color: #fff;
  margin: 2px 3px;
  padding: 5px;
  text-decoration: none;
  border: 4px solid #8cf;
  box-shadow: 2px 2px 2px #000;
  border-bottom-color: #269;
  border-right-color: #269;
}

.btn:hover {
  box-shadow: 0px 0px 4px #fff;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 4px 0;
}

.features div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5%;
  padding: 0 10px;
  border: 1px solid black;
  box-shadow: 4px 4px 5px #000;
}

.text-box {
  width: 150px;
}
